.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}
.wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wd-navigation li.wd-active {
    border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
    color: black;
}
.wd-navigation a {
    color: red;
    text-decoration: none;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Stay on top of everything */
    padding: 48px 0 0; /* Space from the top */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        position: static;
        height: auto;
    }
}
